html {

  min-width: 100%;
  min-height: 200%;
  background-image: url(https://i.ytimg.com/vi/VGtCQWROytw/maxresdefault.jpg);

  background-position: top center;
  background-color: #000;
  background-repeat: no-repeat;

}

body {
  width: 1920px;
  height: 1054px;
  background-color: #FFF;
}
